*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.myTable tr:nth-of-type(odd){
    background-color: white;
}

.myTable{
    margin-top: 20px;
    color: #6a5d5d;
    overflow: scroll;
    width: 100%;
    height: 300px;
}
